

<!--##############################  MARX ######################################################-->
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --color-primary: #47557e;
    --color-title: #000;
    --align-title: left;
    --padding-container: 85px 0;
    --width-container:  85%;
    --max-width-container:  1000px;
    --color-btn: #47557e;
    --text-btn: #fff;
    --padding-btn: 20px 40px;
    --height-shape: 288px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    opacity: 1;
    background-image:  radial-gradient(#47557e 0.9px, transparent 0.9px), radial-gradient(#47557e 0.9px, #f4f4f4 0.9px); 
    background-size: 36px 36px;
    background-position: 0 0,18px 18px;
}

.container{
    width: var(--width-container);
    max-width: var(--max-width-container);
    padding: var(--padding-container); 
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding:20px;
    background: #47557e;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    align-items: center;
} 

.menu li{
    display: block;
    text-align: left;
}

.menu li a{
    text-decoration: none;
    color:white;
    padding: 10px;
}

.menu li a:hover{
    background: #ccc;
}
<!--##############################  MARX ######################################################-->
<!--##############################  JTUPC   ######################################################-->
.hero_img{
    width: 100%;
}

.main{
    background: #fff;
}

.title{
    font-size:2.5em;
    text-align: var(--align-title);
}

.services_title{
    text-align: center;

    font-size:3em;

}

.download_container{
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 25px;
}

.download_link{
   display: inline-block;
   background: var(--color-btn);
   color: #fff;
   padding: var(--padding-btn);
   text-align: center;
   text-decoration: none;
}

.download_img{
    size: 125%;
}

.download_title{
    font-size: 5rem;
}




.whatis_container{
    text-align: center;
    border-bottom: 2px solid #ccc;
    --padding-container: 30px 0 60px;
}

.whatis{
    width: 100%;
    margin: 0 auto;
}

.whatis_title{
    margin: 30px 0;
}

.whatis_paragraph{
    font-size: 135%;
    text-align: center;
    line-height: 1.5;
    font-style: italic;
    color: #615a5a;
}

.whatis_picture1{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit:cover;
    object-position: left;
}

.InsideCity{
    text-align: left;
    font-size: 120%;
}

.OutsideCity{
    text-align: right ;
    font-size: 120%;
}
<!--##############################  JTUPC   ######################################################-->
